<h1>My first Angular Application</h1>
<!-- mapping of component => selector name -->
<!-- <app-employee></app-employee> -->
<!-- <hr> -->
<!-- <app-student></app-student> -->

<!-- <app-stringinterpolation></app-stringinterpolation> -->
<!-- <app-propertybinding></app-propertybinding> -->
<!-- <app-stylebinding></app-stylebinding> -->
<!-- <app-classbinding></app-classbinding> -->
<!-- <app-eventbinding></app-eventbinding> -->
<!-- <app-eventbinding2></app-eventbinding2> -->
<!-- <app-eventbinding3></app-eventbinding3> -->
<!-- <app-string-interpolation1></app-string-interpolation1> -->
<!-- <app-property-binding1></app-property-binding1> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-event-binding1></app-event-binding1> -->
<!-- <app-ifdirective></app-ifdirective> -->
<!-- <app-fordirective></app-fordirective> -->
<!-- <app-task5></app-task5> -->
<!-- <app-switchdirective></app-switchdirective> -->
<!-- <app-parent1 [parentAppData]="appData" ></app-parent1> -->

<!-- <h2> Date is :: {{childDataReceived}} </h2> -->


<!-- <app-parent2 (childDataDateEvent)="childDataReceived=$event" ></app-parent2> -->

<!-- <app-parent3></app-parent3> -->

<!-- <app-inbuildpipe></app-inbuildpipe> -->

<!-- <app-custompipe></app-custompipe> -->

<app-course></app-course>