input{
    border-radius: 8px;
    padding: 5px;
    border: 1px soild orange;
}

button{
    border-radius: 8px;
    padding: 8px;
    border: 2px solid green;
}
button:hover{
    background-color: green;
    color: white;
}