.highlight{
    background: green;
    color: white;
}

.maindiv{
    display: flex;
}
.btndiv{
    margin: 10px;
    padding: 5px;
}
.btndiv button{
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    line-height: 20px;
    
}

.childdiv{
    margin: 10px;
    padding: 5px;
}