input{
    padding: 5px;
    margin: 5px;
    border: 1px solid green;
    border-radius: 5px;
}
button{
    padding: 5px;
    margin: 5px;
    border: 1px solid green;
    border-radius: 8px;
}
button:hover{
    background-color: green;
    color: white;

}